# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
dist/*
www/env.config.js
www/app/config/env.config.js
key.keystore