<ion-view hide-nav-bar="true"></ion-view>
<ion-view>

  <div class="bar bar-header bar-light">
    <img src="app/assets/images/marca.png">
  </div>

  <ion-content scroll="true" id="content">
    
    <div class="card" ng-click="go_to_iframe('candidate_cadastres')" >
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-35">
            <img src="app/assets/images/search.png" class="card-image">
          </div>
          <div class="col col-75">
            <div class="title">
              Pesquisa CPF
            </div> 
            <div class="subtitle">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-click="go_to_iframe('candidate_sessions')">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-35">
            <img src="app/assets/images/user.png" class="card-image">
          </div>
          <div class="col col-75">
            <div class="title">
              Meu cadastro
            </div>
            <div class="subtitle">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-click="go_to_iframe('external_requeriments')">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-35">
            <img src="app/assets/images/file.png" class="card-image">
          </div>
          <div class="col col-75">
            <div class="title">
              Requerimentos
            </div>
            <div class="subtitle">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-click="go_to_iframe('external_schedules')">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-35">
            <img src="app/assets/images/calendar.png" class="card-image">
          </div>
          <div class="col col-75">
            <div class="title">
              Agendamento
            </div>
            <div class="subtitle">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-click="go_to_iframe('entity_cadastres')">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-35">
            <img src="app/assets/images/teamwork.png" class="card-image">
          </div>
          <div class="col col-75">
            <div class="title">
              Entidades
            </div>
            <div class="subtitle">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-click="go_to_iframe('external_assistences')">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-35">
            <img src="app/assets/images/project.png" class="card-image">
          </div>
          <div class="col col-75">
            <div class="title">
              Assistência técnica
            </div>
            <div class="subtitle">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-click="go_to_iframe('external_informations')">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-35">
            <img src="app/assets/images/information.png" class="card-image">
          </div>
          <div class="col col-75">
            <div class="title">
              Informações
            </div>
            <div class="subtitle">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-click="go_to_info()">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-35">
            <img src="app/assets/images/smartphone.png" class="card-image">
          </div>
          <div class="col col-75">
            <div class="title">
              Sobre o aplicativo
            </div>
            <div class="subtitle">
              This is a basic Card which contains an item that has wrapping text.
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  
</ion-view>